@font-face {
  font-family:"BROOKLINE-Condensed";
  src:url("Brookline.eot?") 
  format("eot"),url("Brookline.woff") 
  format("woff"),url("Brookline.ttf")
   format("truetype"),url("Brookline.svg#BROOKLINE-Condensed") 
   format("svg");
   font-weight:"bold";
  }
  @font-face {
    font-family: 'Bahnschrift Regular';
    font-style: normal;
    font-weight: bold;
    src: local('Bahnschrift Regular'), url('BAHNSCHRIFT 9.woff') format('woff');
    }
  @font-face{
    font-family: 'PlatNomar';
    src:url("PlatNomor.ttf") format("truetype")
  }
  @font-face{
    font-family: 'MANDATOR';
    src:url("MANDATOR.ttf") format("truetype")
  }
  .bg {
    /* The image used */
    background-image: url("background.jpg");
    background-attachment: fixed;
    
    /* Full height */
    height: 100%;
    width:100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   z-index: -1;
    
  }
  .ate{
    position: absolute;
   z-index: 0;
    transform: translate(-50%, -50%);
    font-family:"BROOKLINE-Condensed";
    font-size: 24vw;
    margin-top: 57vh;
    margin-left: 68vw;
    color: #4b6783;
    opacity:80%;
    text-shadow: 1px 1px 3px black;
    
  }
  #drone{
    background-image: url("WebwallDrone.png");
    width: 100%;
    height: auto;
    min-height: 800px;
    display: block;
   
    bottom: 0%;
    left: 0;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center 49%;
    z-index:1 ;
   background-attachment: fixed;
   
  }
  .innov{
    position: absolute;
    z-index: 3;
     transform: translate(-50%, -50%);
     font-family: 'Bahnschrift Regular';
     
     font-size: 8.5vw;
     margin-top: 42vh;
     margin-left:  36vw;
     color:#4cb8c3;
     opacity:80%;
     text-shadow: 1px 1px 3px black;
     
  }
  .avi{
    position: absolute;
    z-index: 2;
     transform: translate(-50%, -50%);
     font-family: 'Bahnschrift Regular';
     font-weight: bold;
     font-size: 17vw;
     margin-top: 66vh;
     margin-left: 36vw;
     color:#e8f6fb;
     text-shadow: 1px 1px 3px black;
     opacity:80%;
  }
  .font{
    font-family: 'Bahnschrift Regular';
    font-size: 20px;
    
  }
  #box {
    font-family:"PlatNomar";
    letter-spacing: 2px;
    font-size: 5vw; 
    text-align: center;
    color: #021238;
    margin-top: 1.5vw;
    margin-left: 35px;
    z-index: 2;
    
  }
  #about{
    font-family: 'Bahnschrift Regular';
    text-align: center;
    color:#021238;
    letter-spacing: 0.66px;
    font-size: 2vw;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  #contact{
    padding-top: 20px;
    padding-left: 0.6vw;
    font-family: Arial, Helvetica, sans-serif;
    font-size:medium;
    font-weight: bold;
  }
  #wh{
    text-decoration: none;
    color:white;
  }
  #social{
    font-family: Arial, Helvetica, sans-serif;
    font-size:medium;
    font-weight: bold;
    color:white;
  }
  .column {
    float: left;
    width: 25%;
    height: 150px; /* Should be removed. Only for demonstration */
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
   
  }
  .container{
    position: absolute;
  text-align: center;
  color: white;
  }
  .fa {
    padding: 0.18vw;
    font-size: 20px;
    width: 20px;
    text-align: center;
    text-decoration: none;
   
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    
    color: white;
  }
  .fa-youtube {
    
    color: white;
  }
  
  .fa-instagram {
   
    color: white;
  }
  .fa-google {
   
    color: white;}

    #info{
      padding-top: 2vw;
      padding-left: 2vw;
      font-family: Arial, Helvetica, sans-serif;
      font-size:medium;
      font-weight: bold;
    }
    @media only screen and (max-width: 700px) {
    }
 